p {
  display: block;
}
img {
  vertical-align: middle;
  border-radius: 100%;
  border-style: none;
}
.picFrame {
  overflow: hidden;
}
.iris {
  width: 213px;
  height: 319px;
  border-radius: 0%;
}
