.jumbotron {
  background-image: url(../../images/iris-flower.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}
.display-3 {
  text-shadow: 1px 1px #333;
}
.lead {
  font-size: 25px;
  font-weight: 350;
  text-shadow: 1px 1px #333;
}
