.jumbotron {
  background-image: url(../../images/background-beautiful-beauty-bloom-158636.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}
.display-3 {
  text-shadow: 1px 1px #333;
}
.lead {
  font-size: 25px;
  font-weight: 350;
  text-shadow: 1px 1px #333;
}


/*
background-beautiful-beauty-bloom-158636.jpeg
pexels-photo-114735.jpeg
pexels-photo-132474.jpeg
pexels-photo-133079.jpeg
pexels-photo-262713.jpeg
pexels-photo-268261.jpeg
pexels-photo-548389.jpeg
pexels-photo-595102.jpeg
sunset-poppy-backlight-66274.jpeg
*/
